/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Estilos del contenedor de búsqueda */
  .Buscar {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
  }
  
  /* Estilos del encabezado h1 */
  h1 {
    color: #333;
  }
  
  /* Estilos para etiquetas de texto */
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Estilos para el select Razas */
  #breeds {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón */
  button {
    background-color: darkblue;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para la sección de imagen */
  section {
    margin-top: 20px;
  }
  
  /* Estilos para la imagen */
  #dogImage {
    max-width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
  }
  
  /* Estilos para el botón de mostrar imagen */
  #showImageButton {
    background-color: darkblue;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Deshabilitar el botón cuando no hay imagen */
  #showImageButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  